<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="ch.heigvd.dai.network.Server" />
    <module name="java-intellij-idea-and-maven" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>